{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient py-0 eco-navbar">
<div class="container-fluid px-5 navbar-inner">
	<div class="brand-group">
		<a class="navbar-brand brand-logo-wrap" href="{% url 'home' %}" aria-label="Vai alla dashboard">
			<img src="{% static 'images/EcoPV_logo.png' %}" alt="logo Eco-PV">
		</a>
		<h3 class="title brand-title">EM Trasporti Inc.</h3>
	</div>

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="nav-session ms-auto">
			{% if user.is_authenticated %}
				<span class="nav-user">
					<i class="fa fa-user-circle-o" aria-hidden="true"></i>
					Benvenuto {% firstof user.get_full_name user.get_username user.username "Utente" %}
				</span>
				<form action="{% url 'logout' %}" method="post" class="nav-logout-form">
					{% csrf_token %}
					<button class="nav-auth-button" type="submit">Logout</button>
				</form>
			{% elif request.resolver_match.url_name != 'login' %}
				<a class="nav-auth-button" href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Accedi</a>
			{% endif %}
		</div>
	</div>
</div>
</nav>
